.section {
  padding: 50px 30px 20px 60px margin-top 20px;
}

body {
  background-color: rgb(189, 189, 189);
  background: linear-gradient(40deg, rgb(131, 236, 255), rgb(255, 174, 187));
}
h1{
  font-size: 300%;
}
.cuadrado {
  margin-right: 0px;
  display: flex;
  padding: 10px;
  font-size: 2 rem;
  width: auto;
  border: 3px solid black;
  background-color: rgb(187, 187, 187);
  color: white;
  top: 0px;
  position: sticky;
  z-index: 3;

  @media (min-widht: 600px) {
    font-size: 80px;
  }
  @media (max-width: 992px) {
    font-size: 30px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
}
.header {
  padding: 0;
  height: 120px;
  @media {
    max-width 992px
  }
}
.navFlex {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
}
.navFlex li {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}
.navFlex li a {
  text-decoration: blink;
  color: rgb(255, 255, 255);
}
.navFlex li a:hover {
  color: rgba(177, 255, 255, 0.897);
  background: linear-gradient(30deg, rgb(255, 174, 187), rgb(131, 236, 255));
  margin-bottom: auto;
  box-shadow: 2.5rem;
}
.navFlex__item1 {
  order: 5;
}
.navFlex__item2 {
  order: -1;
}
.navFlex__item3 {
  order: -2;
}
.navFlex__item4 {
  order: 0;
}
.barrita {
  display: flex;
  width: 90%;
  margin: 0px;
  padding: 1.5 rem;
  min-height: 10vh;
  align-items: center;
}
li {
  display: flex;
  font-size: 1.5rem;
}
h2 {
  margin-right: auto;
  padding: 10px;
  background-color: rgba(177, 255, 255, 0.897);
}
h4 {
  margin-left: 0px;
  padding: 0 px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px;
  background-color: rgb(204, 204, 204);
}
h3 {
  margin-top: 0px;
  background-color: rgb(204, 204, 204);
}
.row {
  padding: 10px;
  display: grid;
  width: 500px;
  margin: 10px;
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  background: linear-gradient(30deg, rgb(255, 174, 187), rgb(131, 236, 255));
}

.grid-item {
  font-size: 1.5rem;
  padding: 50px 20px 20px 20px;
  grid-template-columns: minmax(300px, lfr);
  grid-template-rows: 30px 100px;
  background-color: rgb(204, 204, 204);
  border: 1px solid white;
  justify-items: auto;
  align-items: end;
}
.col {
  width: 100%;
}

.footer {
  padding: 0;
  margin-left: 0;
  position: relative;
}